<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>com.servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adServlet</servlet-name>
        <servlet-class>com.servlet.adServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>mypack.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerAccServlet</servlet-name>
        <servlet-class>accountant.registerAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutadmin</servlet-name>
        <servlet-class>accountant.logoutadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAccServlet</servlet-name>
        <servlet-class>accountant.loginAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>web.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchStu</servlet-name>
        <servlet-class>web.searchStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findStu</servlet-name>
        <servlet-class>web.findStu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAcc</servlet-name>
        <servlet-class>accountant.updateAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStu</servlet-name>
        <servlet-class>web.updateStu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adServlet</servlet-name>
        <url-pattern>/adServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerAccServlet</servlet-name>
        <url-pattern>/registerAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutadmin</servlet-name>
        <url-pattern>/logoutadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAccServlet</servlet-name>
        <url-pattern>/loginAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchStu</servlet-name>
        <url-pattern>/searchStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findStu</servlet-name>
        <url-pattern>/findStu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAcc</servlet-name>
        <url-pattern>/updateAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStu</servlet-name>
        <url-pattern>/updateStu</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
